<% layout('layouts/admin') %>

<div class="container">
  <h1 class="mb-5">Таблицы</h1>
  <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Заявки</h5>
          <p class="card-text">Общее количество заявок: 5</p>
          <a href="/admin/questions" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row mb-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Документы</h5>
          <p class="card-text">Изменить документы расположенные на сайте</p>
          <a href="/admin/docs" class="btn btn-primary">Открыть</a>
        </div>
      </div>
    </div>
  </div> -->
</div>