<!DOCTYPE html>
<html lang="ru" class="login__body">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>IT Alliance</title>
  </head>
  <body class="login__body">
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">IT Alliance</span>
      </a>

      <ul class="nav nav-pills px-5">
        <% if (user) { %>
        <li class="nav-item">
          <a href="/auth/logout" class="nav-link">Выйти</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a href="/auth/login" class="nav-link">Войти</a>
        </li>
        <% } %>
        <!-- <li class="nav-item">
          <a href="/admin" class="nav-link active" aria-current="page"
            >Главная</a
          >
        </li> -->
      </ul>
    </header>

    <%- body %>
    <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 px-5 border-top bg-light">
      <p class="col-md-4 mb-0 text-muted">&copy; 2024 IT Alliance</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <!-- <li class="nav-item"><a href="/admin/news" class="nav-link px-2 text-muted">Новости</a></li>
        <li class="nav-item"><a href="/admin/reviews" class="nav-link px-2 text-muted">Отзывы</a></li> -->
        <li class="nav-item"><a href="/admin/questions" class="nav-link px-2 text-muted">Заявки</a></li>
        <li class="nav-item"><a href="/admin" class="nav-link px-2">Главная</a></li>
      </ul>
    </footer>
  </body>
</html>