@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "TildaSans";
  src: url("fonts/TildaSans-Semibold.eot");
  src: url("fonts/TildaSans-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/TildaSans-Semibold.woff2") format("woff2"), url("fonts/TildaSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TildaSans";
  src: url("fonts/TildaSans-Regular.eot");
  src: url("fonts/TildaSans-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/TildaSans-Regular.woff2") format("woff2"), url("fonts/TildaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TildaSans";
  src: url("fonts/TildaSans-Medium.eot");
  src: url("fonts/TildaSans-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/TildaSans-Medium.woff2") format("woff2"), url("fonts/TildaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TildaSans";
  src: url("fonts/TildaSans-Bold.eot");
  src: url("fonts/TildaSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TildaSans-Bold.woff2") format("woff2"), url("fonts/TildaSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@keyframes display-animate {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
}
@media screen and (max-width: 1150px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

* {
  font-family: "TildaSans", sans-serif;
}

html, body {
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.uptop {
  position: absolute;
  position: fixed;
  bottom: 80px;
  right: 7%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: #137ED8;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  cursor: pointer;
  height: 53px;
  padding: 13px 27px;
  border: 1px solid #313131;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 16px;
    padding: 10px 15px;
    height: auto;
  }
}
.btn:hover {
  border-color: none;
  background-color: #313131;
  color: #ffffff;
}
.btn_white {
  border: 1px solid #F7F7F7;
  color: #F7F7F7;
}
.btn_white:hover {
  background-color: #F7F7F7;
  color: #313131;
}

.btn_wrapper {
  text-align: center;
}

.section-title {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 68px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #137ED8;
}
@media screen and (max-width: 480px) {
  .section-title {
    font-size: 42px;
  }
}

.section-description {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}

.burger {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border: 1px solid #313131;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 480px) {
  .burger {
    width: 40.8px;
    height: 40.8px;
  }
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 45%;
  background-color: #313131;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 19px;
}
@media screen and (max-width: 480px) {
  .burger::before {
    top: 23px;
  }
}
.burger::after {
  bottom: 21px;
}
@media screen and (max-width: 480px) {
  .burger::after {
    bottom: 23px;
  }
}
.burger:hover {
  border-color: none;
  background-color: #313131;
}
.burger:hover::before, .burger:hover::after {
  background-color: #ffffff;
}
.burger.active span {
  transform: scale(0);
}
.burger.active {
  border: none;
  background-color: #313131;
}
.burger.active::before {
  background-color: #ffffff;
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
@media screen and (max-width: 480px) {
  .burger.active::before {
    top: 48%;
  }
}
.burger.active::after {
  background-color: #ffffff;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.block-scroll {
  overflow: hidden;
}

.header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .header a[href="/contacts"] {
    display: none;
  }
}
.header .header__wrapper {
  display: flex;
  gap: 22px;
}
@media screen and (max-width: 640px) {
  .header .header__wrapper {
    width: 100%;
    justify-content: space-between;
  }
}
.header .header__contacts:hover {
  border-color: #137ED8;
  background-color: #137ED8;
}

.nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100vh);
  background-color: #F7F7F7;
  transition: all 0.35s ease-in-out;
  padding-top: 40px;
  overflow: hidden;
}
.nav__logo {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}
@media screen and (max-width: 1150px) {
  .nav__logo {
    right: 30px;
  }
}
.nav__logo-image {
  max-height: 53px;
}
@media screen and (max-width: 480px) {
  .nav__logo-image {
    max-height: 40px;
  }
}
.nav .wrapper {
  position: relative;
}
.nav .wrapper::after {
  z-index: -1;
  content: url(../img/nav-image.svg);
  position: absolute;
  top: -200px;
  right: -350px;
}
.nav__burger {
  margin-bottom: 55px;
}
.nav .nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav .nav__wrapper .nav__items {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1150px) {
  .nav .nav__wrapper .nav__items {
    gap: 10px;
    margin-bottom: 30px;
  }
}
.nav .nav__wrapper .nav__items .nav__item a {
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  font-size: 56px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 640px) {
  .nav .nav__wrapper .nav__items .nav__item a {
    font-size: 42px;
  }
}
@media screen and (max-width: 480px) {
  .nav .nav__wrapper .nav__items .nav__item a {
    font-size: 32px;
  }
}
.nav .nav__wrapper .nav__items .nav__item a:hover {
  color: #137ED8;
}
.nav .nav__wrapper .nav__address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.nav .nav__wrapper .nav__address a {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 640px) {
  .nav .nav__wrapper .nav__address a {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  .nav .nav__wrapper .nav__address a {
    font-size: 18px;
  }
}

.open {
  transform: translateY(0px);
}
.open .wrapper::after {
  animation-name: nav-image;
  animation-duration: 3s;
  animation-timing-function: ease;
}

@keyframes nav-image {
  0% {
    top: -700px;
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main-bg {
  background: linear-gradient(90deg, #0a4475 0%, #137fdb 100%);
  overflow: hidden;
}
.main-bg .wrapper {
  position: relative;
  padding-top: 90px;
  padding-bottom: 110px;
}
@media screen and (max-width: 480px) {
  .main-bg .wrapper {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.main-bg .wrapper::after {
  content: url(../img/main-image.svg);
  animation-name: main-image;
  animation-duration: 3s;
  animation-timing-function: ease;
  position: absolute;
  top: -300px;
  right: -200px;
}

.main {
  animation-name: display-animate;
  animation-duration: 3s;
  animation-timing-function: ease;
}
.main__title {
  max-width: 721px;
  margin-bottom: 30px;
  font-size: 75px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  .main__title {
    font-size: 40px;
  }
}
.main__description {
  font-size: 37px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .main__description {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  .main__description {
    font-size: 24px;
  }
}

@keyframes main-image {
  0% {
    top: 500px;
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0deg);
    top: -300px;
  }
}
.advantages {
  margin-bottom: 90px;
  position: relative;
}
.advantages .section-title {
  margin-bottom: 20px;
}
.advantages::after {
  content: url("../img/company-bg.svg");
  position: absolute;
  bottom: -29%;
  left: 43%;
  z-index: 0;
  opacity: 0.2;
  transform: rotate(218deg);
}
.advantages__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}
.advantages__items .advantages__item {
  position: relative;
}
.advantages__items .advantages__counter {
  position: absolute;
  z-index: 10;
  padding: 13px 23px;
  border-radius: 11px;
  background-color: #137ED8;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  color: #ffffff;
}
.advantages__items .advantages__text {
  position: absolute;
  left: 80px;
  bottom: 0;
  max-width: 264px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.advantages__items .advantages__image {
  border-radius: 11px;
  mask: url(../img/clip-advantages.svg);
  mask-size: cover;
  mask-position: top left;
  mask-composite: exclude;
  mask-repeat: no-repeat;
}

.vectors-bg {
  margin-bottom: 90px;
  position: relative;
  z-index: 2;
}
.vectors-bg::after {
  content: url("../img/company-bg.svg");
  position: absolute;
  bottom: -22%;
  right: 42%;
  z-index: -1;
  opacity: 0.2;
  transform: rotate(7deg) scale(1, -1);
}

.vectors {
  display: flex;
  flex-direction: column-reverse;
}
.vectors__header-line {
  width: 100%;
  margin-top: -2px;
  height: 23px;
  background-color: #137ED8;
}
.vectors__nav {
  display: flex;
  justify-content: space-between;
  padding-right: 1px;
}
.vectors__nav > input[type=radio]:checked + label {
  color: #ffffff;
  background-color: #137ED8;
  transition: all 0.35s ease-in-out;
}
.vectors__nav-item {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  margin-right: -1px;
  border: 1px solid #137ED8;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 18px 27px 13px;
  background-color: #F7F7F7;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #137ED8;
}
.vectors__nav > input[type=radio] {
  display: none;
}
.vectors__body {
  display: none;
  height: 374px;
  border: 1px solid #137ED8;
  padding: 43px 40px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.vectors__body .vectors__content-text h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
  margin-bottom: 24px;
}
.vectors__body .vectors__content-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
  margin-bottom: 16px;
}
.vectors__body .vectors__content-text ul {
  text-transform: uppercase;
  padding-left: 22px;
}
.vectors__body .vectors__content-text ul:not(:last-child) {
  margin-bottom: 24px;
}
.vectors__body .vectors__content-text li {
  list-style-type: disc;
  margin-bottom: 6px;
}
.vectors__body .vectors__content-text a {
  color: inherit;
  transition: all 0.2s ease-out;
}
.vectors__body .vectors__content-text a:hover {
  color: #137ED8;
}
.vectors__body .vectors__content_first {
  display: flex;
  justify-content: space-between;
}
.vectors__body .vectors__content_three ul {
  text-transform: none;
}
.vectors__line {
  height: 300px;
  width: 1px;
  background-color: #d1d1d1;
}
.vectors #body-1:has(~ .vectors__nav > #tab-btn-1:checked),
.vectors #body-2:has(~ .vectors__nav > #tab-btn-2:checked),
.vectors #body-3:has(~ .vectors__nav > #tab-btn-3:checked) {
  display: block;
}

.mySwiper-button-prev, .mySwiper-button-next {
  position: absolute;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  height: 53px;
}
@media screen and (max-width: 768px) {
  .mySwiper-button-prev, .mySwiper-button-next {
    height: 40px;
  }
}

.mySwiper-button-prev {
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
@media screen and (max-width: 640px) {
  .mySwiper-button-prev {
    left: -10px;
  }
}

.mySwiper-button-next {
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
@media screen and (max-width: 640px) {
  .mySwiper-button-next {
    right: -10px;
  }
}
.mySwiper-button-next img {
  transform: rotate(180deg);
}

.my-swiper-wrapper {
  position: relative;
  z-index: 3;
  padding: 60px 80px;
}
@media screen and (max-width: 1150px) {
  .my-swiper-wrapper {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 768px) {
  .my-swiper-wrapper {
    padding: 10px 60px;
  }
}
@media screen and (max-width: 640px) {
  .my-swiper-wrapper {
    padding: 10px 40px;
  }
}

.running-stroke .swiper {
  height: 74px;
}

.running-stroke .swiper-slide a {
  height: 100%;
  display: flex;
  align-items: center;
}

.running-stroke .swiper-slide {
  text-align: center;
}

.news__poster {
  width: 100%;
  object-fit: cover;
}

.news-slider {
  position: relative;
  margin-bottom: 100px;
}
.news-slider::after {
  position: absolute;
  top: 50px;
  right: 81px;
  z-index: 10;
  content: "Новости";
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: #F7F7F7;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  color: #137ED8;
}
.news-slider__slide {
  position: relative;
}
.news-slider__slide .news-slider__info {
  padding: 0 0 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #F7F7F7;
}
.news-slider__slide .news-slider__info .news-slider__line-wrapper {
  border-left: 1px solid #F7F7F7;
  padding: 50px 0 100px 40px;
}
.news-slider__slide .news-slider__info .news-slider__date {
  margin-bottom: 80px;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
.news-slider__slide .news-slider__info .news-slider__title {
  max-width: 800px;
  font-size: 42px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
  color: #F7F7F7;
}
.news-slider .news-slider__thumbs-button-prev, .news-slider .news-slider__thumbs-button-next {
  position: absolute;
  cursor: pointer;
  z-index: 6;
  bottom: 78px;
  width: 32px;
  height: 26px;
  background-size: cover;
  background-image: url(../img/arrow.svg);
}
.news-slider .news-slider__thumbs-button-prev {
  left: 20px;
}
.news-slider .news-slider__thumbs-button-next {
  transform: rotate(180deg);
  right: 20px;
}

.news-slider__thumbs {
  width: 100%;
  position: absolute;
  bottom: 23px;
  z-index: 5;
  left: 0;
  padding: 0 80px;
}

.swiper__news-thumbs .swiper-slide {
  cursor: pointer;
  height: 132px !important;
}
.swiper__news-thumbs .swiper-slide-thumb-active {
  outline: 3px solid #F7F7F7;
  outline-offset: -3px;
}

.swiper__news-thumbs img {
  height: 100%;
  object-fit: cover;
}

.marketing {
  margin-bottom: 90px;
}
.marketing__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.marketing__header .marketing__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 1150px) {
  .marketing__header .marketing__title {
    font-size: 120px;
  }
}
@media screen and (max-width: 768px) {
  .marketing__header .marketing__title {
    font-size: 100px;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 640px) {
  .marketing__header .marketing__title {
    margin-bottom: -40px;
    font-size: 80px;
  }
}
@media screen and (max-width: 480px) {
  .marketing__header .marketing__title {
    font-size: 50px;
    margin-bottom: -25px;
  }
}
.marketing__header .marketing__title.activate-animation {
  animation-name: marketing__title;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.marketing__header .marketing__poster {
  width: 68%;
}
.marketing__header .marketing__poster.activate-animation {
  animation-name: marketing__poster;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}
.marketing__info {
  margin-top: 20px;
}
.marketing__info p {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
  text-align: justify;
  margin-bottom: 33px;
}
@media screen and (max-width: 768px) {
  .marketing__info p {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .marketing__info p {
    font-size: 14px;
  }
}

@keyframes marketing__title {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes marketing__poster {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.our-vendors {
  position: relative;
  margin-bottom: 95px;
}
@media screen and (max-width: 1150px) {
  .our-vendors {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1150px) {
  .our-vendors {
    margin-bottom: 40px;
  }
}
.our-vendors__title {
  max-width: 475px;
  margin-bottom: 86px;
}
@media screen and (max-width: 768px) {
  .our-vendors__title {
    max-width: 375px;
    margin-bottom: 46px;
    font-size: 52px;
  }
}
.our-vendors::after {
  content: url(../img/design-line2.svg);
  position: absolute;
  width: 100%;
  top: 20%;
  right: 25%;
  transform: scale(150%);
  z-index: 1;
}
.our-vendors__btn {
  position: relative;
  z-index: 5;
}
.our-vendors__companies {
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 5;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
  height: 180px;
}
@media screen and (max-width: 768px) {
  .our-vendors__companies {
    gap: 15px;
  }
}
@media screen and (max-width: 480px) {
  .our-vendors__companies {
    flex-direction: column;
  }
}
.our-vendors__info {
  position: relative;
  z-index: 5;
  margin-bottom: 33px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .our-vendors__info {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .our-vendors__info {
    font-size: 14px;
  }
}

.our-vendors__company {
  width: 25%;
  height: 100%;
  display: block;
  position: relative;
  overflow-y: hidden;
  border-radius: 15px;
}
.our-vendors__company-image {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 10px 20px;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 768px) {
  .our-vendors__company-image {
    height: 150px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 480px) {
  .our-vendors__company-image {
    max-width: 100%;
    height: 100px;
    justify-content: center;
  }
}
.our-vendors__company-image img {
  height: 100%;
  object-fit: contain;
}
.our-vendors__company-button {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  border: 2px solid #313131;
  border-top: 0;
  display: flex;
  justify-content: center;
  background-color: #F7F7F7;
  align-items: center;
  padding: 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
  transition: all 0.2s ease-out;
}
.our-vendors__company:hover .our-vendors__company-image {
  background-color: #ffffff;
}
.our-vendors__company:hover .our-vendors__company-button {
  bottom: 0;
  background-color: #313131;
  color: #F7F7F7;
}

.swiper__vendors .our-vendors__company {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .swiper__vendors .our-vendors__company p {
    font-size: 16px;
  }
}

.bg-wrapper {
  position: relative;
  z-index: 4;
}

.asking-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-image: url(../img/form-bg.png);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.asking {
  padding: 78px 0;
  gap: 40px;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .asking {
    padding: 30px 0;
  }
}
@media screen and (max-width: 640px) {
  .asking {
    flex-direction: column;
  }
}
.asking__description {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #d7dadd;
}
.asking__description a {
  color: #ffffff;
  transition: all 0.2s ease-out;
}
.asking__description a:hover {
  color: #137ED8;
}
.asking__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .asking__info {
    flex-direction: row;
    align-items: center;
  }
}
.asking__info .asking__title {
  text-transform: uppercase;
  margin-bottom: 15px;
  max-width: 377px;
  font-size: 68px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .asking__info .asking__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 480px) {
  .asking__info .asking__title {
    font-size: 32px;
  }
}
.asking__info .asking__buttons {
  display: flex;
  gap: 18px;
}
.asking__form {
  background-color: #ffffff;
  padding: 35px 25px;
  max-width: 465px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .asking__form {
    max-width: 100%;
  }
}
.asking__form .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.asking__form .form__credentials {
  color: #137ED8;
}
.asking__form .form__field .form__label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.asking__form .form__field .form__input {
  width: 100%;
  padding: 11px 16px;
  background-color: #f4f5f6;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  resize: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.asking__form .form__field .form__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #9a9ca5;
}
.asking__form .form__field .form__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.asking__form .form__field .form__check:checked + .form__label::before {
  background-color: #313131;
}
.asking__form .form__field.form__checkbox .form__label {
  display: inline-flex;
  gap: 12px;
}
.asking__form .form__field.form__checkbox .form__label::before {
  content: "";
  display: block;
  border: 1px solid #313131;
  border-radius: 3px;
  height: 16px;
  aspect-ratio: 1;
}
.asking__form .form__controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.about {
  margin: 85px 0;
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  gap: 50px 75px;
}
@media screen and (max-width: 1150px) {
  .about {
    margin: 60px 0;
    gap: 40px 55px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    gap: 20px 35px;
  }
}
@media screen and (max-width: 480px) {
  .about {
    margin: 30px 0;
    grid-template-columns: 1fr;
  }
}
.about #about__title {
  white-space: nowrap;
}
@media screen and (max-width: 1150px) {
  .about #about__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .about #about__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 640px) {
  .about #about__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 480px) {
  .about #about__title {
    margin-bottom: 0;
  }
}
.about__image {
  filter: grayscale(100%);
}
.about__text {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .about__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 640px) {
  .about__text {
    font-size: 14px;
  }
}

.about-mainpic {
  margin-bottom: 80px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .about-mainpic {
    margin-bottom: 40px;
  }
}
.about-mainpic img {
  filter: grayscale(100%);
  width: 100%;
}

.vendors {
  margin-top: 85px;
  margin-bottom: 126px;
}
@media screen and (max-width: 768px) {
  .vendors {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 480px) {
  .vendors {
    margin-bottom: 40px;
  }
}
.vendors__title {
  max-width: 350px;
  line-height: 110%;
  margin-bottom: 86px;
}
@media screen and (max-width: 768px) {
  .vendors__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
.vendors__list {
  margin-bottom: 20px;
}
.vendors__list .swiper-wrapper {
  height: 380px;
}
@media screen and (max-width: 768px) {
  .vendors__list .swiper-wrapper {
    height: 500px;
  }
}
@media screen and (max-width: 480px) {
  .vendors__list .swiper-wrapper {
    height: auto;
  }
}
.vendors__list .swiper__vendors-scrollbar {
  margin-top: 20px;
  border: 2px solid #313131;
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 5px;
}
.vendors__list .swiper__vendors-scrollbar__drag {
  background-color: #313131;
  height: 6px;
  border-radius: 5px;
}
.vendors__description {
  display: flex;
  justify-content: space-between;
}
.vendors__text {
  padding-left: 5px;
  display: flex;
  gap: 10px;
  max-width: 890px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .vendors__text {
    font-size: 16px;
  }
}
.vendors__text::before {
  content: "*";
}
.vendors__controls {
  display: flex;
  gap: 27px;
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .vendors__controls {
    gap: 15px;
  }
}
.vendors__controls-next, .vendors__controls-back {
  border-radius: 5px;
  cursor: pointer;
  z-index: 6;
  aspect-ratio: 1;
  height: 53px;
  padding: 15px 12px;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/arrow.svg);
  background-color: #313131;
}
@media screen and (max-width: 480px) {
  .vendors__controls-next, .vendors__controls-back {
    height: 40px;
  }
}
.vendors__controls-next {
  transform: rotate(180deg);
}

.partner {
  margin-bottom: 80px;
}
@media screen and (max-width: 480px) {
  .partner {
    margin-bottom: 40px;
  }
}
.partner__title {
  color: #313131;
  max-width: 770px;
}
@media screen and (max-width: 768px) {
  .partner__title {
    max-width: 500px;
    font-size: 50px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 640px) {
  .partner__title {
    font-size: 42px;
  }
}
@media screen and (max-width: 480px) {
  .partner__title {
    font-size: 32px;
  }
}
.partner__info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .partner__info {
    flex-direction: column-reverse;
  }
}
.partner__info .partner__certificate {
  max-width: 50%;
}
@media screen and (max-width: 480px) {
  .partner__info .partner__certificate {
    max-width: 100%;
  }
}
.partner__info .partner__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.partner__info .partner__description .partner__text {
  max-width: 490px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .partner__info .partner__description .partner__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .partner__info .partner__description .partner__text {
    font-size: 14px;
  }
}
.partner__info .partner__description .partner__learn {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .partner__info .partner__description .partner__learn {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .partner__info .partner__description .partner__learn {
    font-size: 14px;
  }
}
.partner__info .partner__description .partner__download {
  display: flex;
  gap: 10px;
  align-items: center;
}
.partner__info .partner__description .partner__download::before {
  padding-top: 5px;
  content: url(../img/file.svg);
}
.partner__info .partner__description .partner__download p:nth-child(1) {
  transition: all 0.2s ease-out;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .partner__info .partner__description .partner__download p:nth-child(1) {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .partner__info .partner__description .partner__download p:nth-child(1) {
    font-size: 14px;
  }
}
.partner__info .partner__description .partner__download p:nth-child(2) {
  font-size: 12px;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.partner__info .partner__description .partner__download:hover p:nth-child(1) {
  color: #137ED8;
}

.contacts {
  margin-top: 76px;
  margin-bottom: 102px;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}
.contacts-title {
  color: #137ED8;
  line-height: 110%;
}
@media screen and (max-width: 768px) {
  .contacts-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .contacts-title {
    font-size: 38px;
    margin-bottom: 30px;
  }
}
.contacts__map {
  margin-bottom: 66px;
}
.contacts .toggle__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.contacts .toggle {
  margin-bottom: 46px;
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  border: 2px solid #313131;
  padding: 36px 12px;
}
@media screen and (max-width: 480px) {
  .contacts .toggle {
    padding: 24px 12px;
  }
}
.contacts .toggle__content {
  position: relative;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 768px) {
  .contacts .toggle__content {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .contacts .toggle__content {
    font-size: 18px;
  }
}
.contacts .toggle__content .toggle__text {
  transition: all 0.2s ease-out;
}
.contacts .toggle__content .toggle__text:nth-child(2) {
  color: #313131;
}
.contacts .toggle__switch {
  transition: all 0.2s ease-out;
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 13px;
  width: 48%;
  background-color: #313131;
}
@media screen and (max-width: 480px) {
  .contacts .toggle__switch {
    top: 5px;
    bottom: 5px;
    left: 6px;
  }
}
.contacts .toggle__blocks {
  position: relative;
  overflow: hidden;
}
.contacts .toggle__blocks .toggle__map, .contacts .toggle__blocks .toggle__photos {
  width: 100%;
  transition: all 0.35s ease-in-out;
  height: 547px;
}
@media screen and (max-width: 768px) {
  .contacts .toggle__blocks .toggle__map, .contacts .toggle__blocks .toggle__photos {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .contacts .toggle__blocks .toggle__map, .contacts .toggle__blocks .toggle__photos {
    height: 280px;
  }
}
.contacts .toggle__blocks .toggle__photos {
  position: absolute;
  padding-left: 260px;
  z-index: 10;
  transform: translateX(100%);
  top: 0;
  left: 0;
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .contacts .toggle__blocks .toggle__photos .photos__wrapper {
    gap: 8px;
  }
}
@media screen and (max-width: 480px) {
  .contacts .toggle__blocks .toggle__photos .photos__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper div {
  overflow: hidden;
  filter: brightness(60%);
  transition: all 0.2s ease-out;
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper div:hover {
  filter: brightness(100%);
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper div:hover img {
  height: 120%;
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(100%);
  transition: all 0.2s ease-out;
}
.contacts .toggle__blocks .toggle__photos .photos__wrapper div:first-child {
  grid-area: 1/1/3/3;
}
@media screen and (max-width: 480px) {
  .contacts .toggle__blocks .toggle__photos .photos__wrapper div:first-child {
    grid-area: 1/1/2/3;
  }
}
.contacts .toggle__checkbox:checked + .toggle .toggle__text:nth-child(2) {
  color: #F7F7F7;
}
.contacts .toggle__checkbox:checked + .toggle .toggle__text:nth-child(1) {
  color: #313131;
}
.contacts .toggle__checkbox:checked + .toggle .toggle__switch {
  transform: translateX(104%);
}
@media screen and (max-width: 768px) {
  .contacts .toggle__checkbox:checked + .toggle .toggle__switch {
    transform: translateX(102%);
  }
}
@media screen and (max-width: 640px) {
  .contacts .toggle__checkbox:checked + .toggle .toggle__switch {
    transform: translateX(100%);
  }
}
@media screen and (max-width: 480px) {
  .contacts .toggle__checkbox:checked + .toggle .toggle__switch {
    transform: translateX(101%);
  }
}
.contacts .toggle__checkbox:checked ~ .toggle__blocks .toggle__map {
  position: absolute;
  padding-right: 260px;
  z-index: 20;
  transform: translateX(-100%);
}
.contacts .toggle__checkbox:checked ~ .toggle__blocks .toggle__photos {
  position: relative;
  padding-left: 0;
  transform: translateX(0);
}
.contacts__address {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 102px;
}
@media screen and (max-width: 1150px) {
  .contacts__address {
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .contacts__address {
    margin-bottom: 62px;
    flex-direction: column;
  }
}
.contacts__address .contacts__image {
  width: 60%;
}
.contacts__address .contacts__image img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.contacts__address .contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__address .contacts__info .info {
  padding-bottom: 18px;
}
.contacts__address .contacts__info .info__title {
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .contacts__address .contacts__info .info__title {
    font-size: 28px;
  }
}
.contacts__address .contacts__info .info__text {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .contacts__address .contacts__info .info__text {
    font-size: 16px;
  }
}
.contacts__address .contacts__info .info__text a {
  color: #313131;
  transition: all 0.2s ease-out;
}
.contacts__address .contacts__info .info__text a:hover {
  color: #137ED8;
}
.contacts__address .contacts__info .info__button {
  margin-top: 15px;
  border-radius: 5px;
  padding: 18px 65px;
  background-color: #313131;
  font-size: 20px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #F7F7F7;
}
.contacts__address .contacts__info .info__tech-support {
  margin-bottom: 60px;
}
.contacts .ymaps3x0--main-engine-container {
  filter: grayscale(100%);
}
.contacts__toggle {
  margin-bottom: 80px;
}
.contacts__toggle #map {
  border-radius: 5px;
}
.contacts__toggle .ymaps3x0--main-engine-container {
  filter: grayscale(100%);
}
.contacts__toggle .vectors__content {
  height: 100%;
}
.contacts__toggle .vectors__body {
  height: 500px;
}
.contacts__toggle .photos__wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .contacts__toggle .photos__wrapper {
    gap: 8px;
  }
}
@media screen and (max-width: 480px) {
  .contacts__toggle .photos__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.contacts__toggle .photos__wrapper div {
  overflow: hidden;
  border-radius: 5px;
  filter: brightness(60%);
  transition: all 0.2s ease-out;
}
.contacts__toggle .photos__wrapper div:hover {
  filter: brightness(100%);
}
.contacts__toggle .photos__wrapper div:hover img {
  height: 120%;
}
.contacts__toggle .photos__wrapper div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(100%);
  transition: all 0.2s ease-out;
}
.contacts__toggle .photos__wrapper div:first-child {
  grid-area: 1/1/3/3;
}
@media screen and (max-width: 480px) {
  .contacts__toggle .photos__wrapper div:first-child {
    grid-area: 1/1/2/3;
  }
}

.company {
  margin-bottom: 68px;
  margin-top: 87px;
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  gap: 50px;
  position: relative;
  z-index: 3;
}
@media screen and (max-width: 1150px) {
  .company {
    gap: 60px;
  }
}
@media screen and (max-width: 768px) {
  .company {
    gap: 20px;
  }
}
@media screen and (max-width: 640px) {
  .company {
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.company::before {
  content: url("../img/company-bg.svg");
  position: absolute;
  z-index: -1;
  top: -180px;
  left: -540px;
  transform: scale(0.8);
}
@media screen and (max-width: 768px) {
  .company::before {
    left: -550px;
  }
}
@media screen and (max-width: 640px) {
  .company::before {
    content: "";
  }
}
.company__logo {
  background-color: #F7F7F7;
  border: 1px solid #313131;
  aspect-ratio: 1.3/1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 640px) {
  .company__logo {
    width: 45%;
  }
}
.company__link {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #313131;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 1150px) {
  .company__link {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .company__link {
    font-size: 20px;
  }
}
.company__link:hover {
  color: #137ED8;
}
.company__link::after {
  content: url("../img/link.svg");
  margin-left: 10px;
}
.company__tags {
  display: flex;
  gap: 17px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .company__tags {
    gap: 8px;
    margin-bottom: 30px;
  }
}
.company__tags .company__tag {
  border-radius: 5px;
  padding: 4px 15px;
  background-color: #137ED8;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  line-height: 150%;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .company__tags .company__tag {
    padding: 4px 10px;
    font-size: 14px;
  }
}
.company__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .company__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
}
.company__text {
  white-space: pre-wrap;
  margin-bottom: 45px;
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .company__text {
    font-size: 16px;
  }
}
.company__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.company__button {
  display: inline-block;
  border-radius: 5px;
  padding: 15px 30px;
  border: 2px solid #313131;
  background-color: #F7F7F7;
  transition: all 0.2s ease-out;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 768px) {
  .company__button {
    font-size: 20px;
    padding: 10px 15px;
    height: auto;
  }
}
.company__button:hover {
  background-color: #313131;
  color: #F7F7F7;
}
.company__button_primary {
  background-color: #313131;
  color: #F7F7F7;
}
.company__button_primary:hover {
  background-color: #137ED8;
  border-color: #137ED8;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.16), 0 30px 24px -10px rgba(154, 156, 165, 0.1), 0 12px 10px -6px rgba(154, 156, 165, 0.08), 0 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.company-blocks__block {
  position: relative;
  z-index: 8;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .company-blocks__block {
    margin-bottom: 30px;
  }
}
.company-blocks__block:not(:last-child)::after {
  margin-top: 50px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 100px;
  opacity: 0.2;
  background-color: #313131;
}
@media screen and (max-width: 480px) {
  .company-blocks__block:not(:last-child)::after {
    margin-top: 30px;
  }
}
.company-blocks__title-link {
  color: #313131;
  transition: all 0.2s ease-out;
}
.company-blocks__title-link:hover {
  color: #137ED8;
}
.company-blocks__text {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .company-blocks__text {
    flex-direction: column;
    margin-bottom: 30px;
    gap: 10px;
  }
  .company-blocks__text .section-title {
    margin-bottom: 0;
  }
}
.company-blocks__title-description {
  max-width: 480px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .company-blocks__title-description {
    max-width: 100%;
    text-align: left;
  }
}
.company-blocks__product {
  cursor: pointer;
  display: flex;
  position: relative;
  border: 1px solid #F7F7F7;
  margin-bottom: 10px;
  cursor: default;
  transition: all 0.35s ease-in-out;
}
.company-blocks__product:nth-child(even) {
  background-color: #D3E3F1;
}
.company-blocks__product_link:hover {
  cursor: pointer;
  border: 1px solid #313131;
  border-color: #313131;
  background-color: #A3C9EA;
}
.company-blocks__info {
  padding: 15px 25px;
}
@media screen and (max-width: 480px) {
  .company-blocks__info {
    padding: 10px 20px;
  }
}
.company-blocks__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.company-blocks__description {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 480px) {
  .company-blocks__description {
    font-size: 16px;
  }
}
.company-blocks__products {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
@media screen and (max-width: 480px) {
  .company-blocks__products {
    font-size: 14px;
  }
}

.btn_company {
  margin-top: 30px;
}

.page404 {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}

.service {
  margin-bottom: 80px;
}
.service__text {
  text-align: justify;
  margin-top: -35px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.service__items {
  padding-left: 20px;
}
.service__item {
  margin-bottom: 30px;
}
.service__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
}
.service__list {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #313131;
  padding-left: 30px;
}
.service__list li {
  list-style-type: disc;
}

.portfolio {
  margin-bottom: 80px;
}
.portfolio .vectors__nav {
  justify-content: left;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.portfolio .vectors__nav::-webkit-scrollbar {
  display: none;
}
.portfolio .vectors__nav-item {
  width: auto;
  border: 1px solid #313131;
  color: #313131;
  white-space: nowrap;
}
.portfolio .vectors__nav > input[type=radio]:checked + label {
  background-color: #313131;
}
.portfolio .vectors__body {
  border: 1px solid #313131;
  border-top-right-radius: 12px;
  background-color: #313131;
  padding: 57px 87px;
  height: 500px;
}
.portfolio .vectors__header-line {
  background-color: #313131;
}
.portfolio .vectors__content {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  height: 100%;
}
.portfolio .portfolio__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
}
.portfolio .portfolio__title {
  margin-bottom: 15px;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0;
  color: #ffffff;
}
.portfolio .portfolio__description {
  text-align: justify;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #ffffff;
}
.portfolio .portfolio__photo img {
  object-fit: cover;
  height: 100%;
}
.portfolio .portfolio__doc {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #ffffff;
}
.portfolio .portfolio__doc .portfolio__download {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  color: inherit;
}
.portfolio .portfolio__doc .portfolio__download .portfolio__file-weight {
  font-size: 10px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0;
  color: #ffffff;
}

.footer-bg {
  position: relative;
  z-index: 15;
  background-color: #313131;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 74px 0 66px 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0 35px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 900px) {
  .footer__address {
    max-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .footer__address {
    grid-row: 2/3;
    grid-column: 1/4;
    justify-self: start;
    max-width: 100%;
  }
}
.footer__company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.footer__company .footer__logo {
  max-width: 182px;
}
.footer__company .footer__social {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 26px;
}
.footer__contacts .footer__contact {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 480px) {
  .footer__contacts .footer__contact {
    font-size: 14px;
  }
}
.footer__contacts .footer__contact a {
  color: #F7F7F7;
  opacity: 0.6;
  transition: all 0.2s ease-out;
}
.footer__contacts .footer__contact a:hover {
  opacity: 1;
}
.footer__credentials {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
.footer__nav .footer__nav-title {
  text-transform: uppercase;
  margin-bottom: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 480px) {
  .footer__nav .footer__nav-title {
    font-size: 14px;
  }
}
.footer__nav .footer__anchors {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer__nav .footer__anchors .footer__anchor {
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0;
  color: #F7F7F7;
}
@media screen and (max-width: 480px) {
  .footer__nav .footer__anchors .footer__anchor {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */