.company
    margin-bottom: 68px
    margin-top: 87px
    display: grid
    grid-template-columns: 0.9fr 1.1fr
    gap: 100px
    position: relative
    z-index: 3
    &::before
        content: url('../img/company-bg.svg')
        position: absolute
        z-index: -1
        top: -80px
        left: -500px
    &__logo
        background-color: $semiwhite
        border: 1px solid $dark
        aspect-ratio: 1.3 / 1
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 20px
    &__link
        @include font-styles(32px, 500, 110%, 0, $dark)
        @include fast-transition
        &:hover
            color: $blue
        &::after
            content: url('../img/link.svg')
            margin-left: 10px
    &__tags
        display: flex
        gap: 17px
        margin-bottom: 50px
        .company__tag
            padding: 4px 15px
            background-color: $blue
            text-transform: uppercase
            @include font-styles(16px, 200, 150%, 0, $dark)
    &__title
        text-transform: uppercase
        margin-bottom: 55px
        @include font-styles(64px, 700, normal, 0, $dark)
    &__text
        white-space: pre-wrap
        margin-bottom: 45px
        text-align: justify
        @include font-styles(24px, 400, normal, 0, $dark)
    &__buttons
        display: flex
        justify-content: center
    &__button
        display: inline-block
        padding: 30px 60px
        border: 2px solid $dark
        @include fast-transition
        @include font-styles(32px, 500, normal, 0, $dark)
        &:hover
            background-color: $dark
            color: $semiwhite

