.header
    padding: 24px 0
    display: flex
    justify-content: space-between
    .header__wrapper
        display: flex
        gap: 22px

    .header__contacts:hover
        border-color: $blue
        background-color: $blue
