.vectors-bg
    margin-bottom: 90px
    position: relative
    z-index: 2
    @include mediaTablet
        margin-bottom: 60px
    @include mediaMobile
        margin-bottom: 40px
    .section-title
        @include mediaTablet
            font-size: 52px
            margin-bottom: 30px
        @include mediaMobile
            font-size: 42px
    &::after
        content: url('../img/company-bg.svg')
        position: absolute
        bottom: -22%
        right: 42%
        z-index:-1
        opacity: 0.2
        transform: rotate(7deg) scale(1, -1)
        @include mediaSmallDesktop
            right: 25%
        @media screen and (max-width: 860px)
            right: 16%
            bottom: -67%
            transform: rotate(7deg) scale(0.65)

        @include mediaTablet
            bottom: -70%
            right: 13%
        @include mediaSmallTablet
            bottom: -63%
            right: -17%
        @include mediaMobile
            bottom: 4%
            right: -50%
        @media screen and (max-width: 395px)
            bottom: 7%
            right: -80%
    
.vectors
    display: flex
    flex-direction: column-reverse
    &__header-line
        width: 100%
        margin-top: -2px 
        height: 23px
        background-color: $blue
        @media screen and (max-width: 860px)
            height: 16px
    &__nav
        display: flex
        justify-content: space-between
        padding-right: 1px
        & > input[type="radio"]:checked + label
            color: $white
            background-color: $blue
            @include transition
        &-item
            box-sizing: border-box
            display: block
            width: 100%
            text-align: center
            margin-right: -1px
            border: 1px solid $blue
            border-top-left-radius: 5px 
            border-top-right-radius: 5px 
            padding: 18px 27px 13px
            background-color: $semiwhite
            @include font-styles(20px, 700, normal, 0, $blue)
            @include mediaSmallDesktop
                padding: 15px 10px
            @media screen and (max-width: 860px)
                font-size: 16px
            @include mediaTablet
                display: flex
                justify-content: center
                align-items: center
            @media screen and (max-width: 400px)
                font-size: 14px
                padding: 7px 5px
            
        & > input[type="radio"]
            display: none
    &__body
        display: none
        height: 401px
        border: 1px solid $blue
        padding: 43px 40px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        &:first-child
            padding: 43px 0
            
                
        @include mediaSmallDesktop
            padding: 28px 25px
        @media screen and (max-width: 860px)
            height: 367px
            padding: 15px 12px
        @include mediaTablet
            height: 370px
        @include mediaMobile
            height: auto

        .vectors__content
            &-text
                &:not(:last-child)
                    border-right: 1px solid #d1d1d1
                    @include mediaMobile
                        border-right: unset

                h3
                    @include font-styles(20px, 600, normal, 0, $dark)
                    margin-bottom: 24px
                    @media screen and (max-width: 860px)
                        font-size: 16px
                        margin-bottom: 12px
                p
                    @include font-styles(16px, 500, normal, 0, $dark)
                    margin-bottom: 16px
                    @media screen and (max-width: 860px)
                        font-size: 14px
                        margin-bottom: 10px
                ul
                    text-transform: uppercase
                    padding-left: 22px
                ul:not(:last-child)
                    margin-bottom: 24px
                li
                    list-style-type: disc
                    margin-bottom: 6px
                a
                    color: inherit
                    @include fast-transition
                    &:hover
                        color: $blue
            &_first
                display: flex
                justify-content: space-between
                .vectors__content-text
                    width: 100%
                    padding-left: 40px
                    @media screen and (max-width: 600px)
                        padding-left: 10px

                @include mediaMobile
                    flex-direction: column
            &_three ul
                text-transform: none
    &__line
        display: none
        @include mediaMobile
            display: block
            margin: 25px 25px
            background-color: #d1d1d1
            height: 1px

    #body-1:has(~ .vectors__nav > #tab-btn-1:checked),
    #body-2:has(~ .vectors__nav > #tab-btn-2:checked),
    #body-3:has(~ .vectors__nav > #tab-btn-3:checked)
        display: block
