<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/swiper@11.1.9/swiper-bundle.min.css"
      rel="stylesheet"
    />
    <title>IT Alliance</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <div class="uptop"><img src="./img/up.svg" alt="up"></div>
    <header>
      <div class="wrapper">
        <div class="header">
          <div class="header__wrapper">
            <div class="header__burger burger">
              <span></span>
            </div>
            <a href="#">
              <div class="header__get-partner btn">Стать партнером</div>
            </a>
          </div>
          <a href="#">
            <div class="btn header__contacts">Контакты</div>
          </a>
        </div>
      </div>
      <nav class="nav">
        <div class="wrapper">
          <div class="nav__burger burger">
            <span></span>
          </div>
          <div class="nav__wrapper">
            <ul class="nav__items">
              <li class="nav__item"><a href="index.html">Главная</a></li>
              <li class="nav__item"><a href="about.html">О компании</a></li>
              <li class="nav__item"><a href="vendors.html">Наши вендоры</a></li>
              <li class="nav__item"><a href="contacts.html">Контакты</a></li>
              <li class="nav__item"><a href="#">Поддержка</a></li>
            </ul>
            <div class="nav__address">
              <a href="tel:89088967788" class="nav__phone"
                >+7 (908) 896 77 88</a
              >
              <a href="#" class="nav__map">г. Москва, ул. Первого Мая, д. 67</a>
            </div>
          </div>
          <a href="#"><img class="nav__logo" src="./img/logo.png" alt="logo"></a>
        </div>
      </nav>
    </header>

    <main class="main-bg">
      <div class="wrapper">
        <div class="main">
          <h1 class="main__title">
            Дистрибуция проектных решений и ритейл-продуктов
          </h1>
          <p class="main__description">Компания современных бизнес-решений</p>
        </div>
      </div>
    </main>

    <div class="running-stroke">
      <div class="wrapper">
        <div class="my-swiper-wrapper">
          <div class="mySwiper-button-prev">
            <img src="./img/arrow.svg" alt="arrow" />
          </div>
          <div class="swiper swiper__customers">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="./img/suppliers1.png" alt="suppliers1" />
              </div>
              <div class="swiper-slide">
                <img src="./img/suppliers2.png" alt="suppliers2" />
              </div>
              <div class="swiper-slide">
                <img src="./img/suppliers3.png" alt="suppliers3" />
              </div>
              <div class="swiper-slide">
                <img src="./img/suppliers4.png" alt="suppliers4" />
              </div>
              <div class="swiper-slide">
                <img src="./img/suppliers5.png" alt="suppliers5" />
              </div>
              <div class="swiper-slide">
                <img src="./img/suppliers6.png" alt="suppliers6" />
              </div>
            </div>
          </div>
          <div class="mySwiper-button-next">
            <img src="./img/arrow.svg" alt="arrow" />
          </div>
        </div>
      </div>
    </div>

    <section class="news-slider__animate">
      <div class="wrapper">
        <!-- <h2 class="section-title">Последние новости</h2> -->
        <div class="news-slider">
          <div class="swiper swiper__news">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <a href="#">
                        <h2 data-swiper-parallax="-1500" class="news-slider__title">
                          A4tech завершила пилотный проект по контролю
                          качества строительных работ с использованием
                          четырехопорных роботов в крупной добывающей компании.
                        </h2>
                      </a>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
              <div class="swiper-slide">
                <div class="news-slider__slide">
                  <div class="news-slider__info">
                    <div class="news-slider__line-wrapper">
                      <p data-swiper-parallax="-750" class="news-slider__date">03.07</p>
                      <h2 data-swiper-parallax="-1500" class="news-slider__title">
                        3Logic Group завершила пилотный проект по контролю
                        качества строительных работ с использованием
                        четырехопорных роботов в крупной добывающей компании.
                      </h2>
                    </div>
                  </div>
                </div>
                <img
                  class="news-slider__poster"
                  src="./img/news-image.png"
                  alt="news-image"
                />
              </div>
            </div>
          </div>
          <div class="news-slider__thumbs">
            <div class="swiper swiper__news-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    class="news__poster"
                    src="./img/news-image.png"
                    alt="news-image"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="news__poster"
                    src="./img/news-image.png"
                    alt="news-image"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    class="news__poster"
                    src="./img/news-image.png"
                    alt="news-image"
                  />
                </div>
                <div class="swiper-slide">
                  <img src="./img/news-image.png" alt="news-image" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/news-image.png" alt="news-image" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/news-image.png" alt="news-image" />
                </div>
                <div class="swiper-slide">
                  <img src="./img/news-image.png" alt="news-image" />
                </div>
              </div>
              
            </div>
          </div>
          <div class="news-slider__thumbs-button-prev"></div>
          <div class="news-slider__thumbs-button-next"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="marketing">
          <div class="marketing__header">
            <h2 class="marketing__title">IT alliance<br />company</h2>
            <img class="marketing__poster" src="./img/it-alliance.png" alt="it-alliance">
          </div>
          <div class="marketing__info">
            <p>Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании существующих финансовых и административных условий. А ещё непосредственные участники технического прогресса рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Высокий уровень вовлечения представителей целевой аудитории является чётким доказательством простого факта: существующая теория позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Имеется спорная точка зрения, гласящая примерно следующее: ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Таким образом, высокое качество позиционных исследований играет важную роль в формировании поставленных обществом задач.</p>
            <div class="btn_wrapper">
              <a class="btn btn_outline" href="about.html">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="our-vendors">
          <h2 class="section-title our-vendors__title">Наши вендоры</h2>
          <div class="our-vendors__companies">
            <div class="our-vendors__company">
              <a href="company.html">
                <div class="our-vendors__company-image">
                  <img src="./img/suppliers1.png" alt="company-image">
                </div>
                <div class="our-vendors__company-button">
                  <p>Подробнее</p>
                </div>
              </a>
            </div>
            <div class="our-vendors__company">
              <a href="#">
                <div class="our-vendors__company-image">
                  <img src="./img/suppliers1.png" alt="company-image">
                </div>
                <div class="our-vendors__company-button">
                  <p>Подробнее</p>
                </div>
              </a>
            </div>
            <div class="our-vendors__company">
              <a href="#">
                <div class="our-vendors__company-image">
                  <img src="./img/suppliers1.png" alt="company-image">
                </div>
                <div class="our-vendors__company-button">
                  <p>Подробнее</p>
                </div>
              </a>
            </div>
          </div>
          <p class="our-vendors__info">
            Повседневная практика показывает, что начало повседневной работы по формированию позиции играет важную роль в формировании существующих финансовых и административных условий. А ещё непосредственные участники технического 
          </p>
          <div class="btn_wrapper">
            <a class="btn btn_outline" href="vendors.html">Все вендоры</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-wrapper">
      <div class="asking-bg"></div>
      <div class="wrapper">
        <div class="asking">
          <div class="asking__info">
            <h2 class="asking__title">Остались вопросы?</h2>
            <div class="asking__buttons">
              <a href="#" class="btn btn_white">Контакты</a>
              <a href="#" class="btn btn_white">FAQ</a>
            </div>
          </div>
          <div class="asking__form">
            <form class="form" id="asking__form" action="" method="POST">
              <div class="form__field">
                <label for="name" class="form__label">Имя</label>
                <input type="text" placeholder="Ваше имя" id="name" name="name" class="form__input" required>
              </div>
              <div class="form__field">
                <label for="phone" class="form__label">Телефон</label>
                <input type="text" placeholder="Ваш телефон" id="phone" name="phone" class="form__input" required>
              </div>
              <div class="form__field">
                <label for="email" class="form__label">Почта</label>
                <input type="text" placeholder="Ваша почта" id="email" name="email" class="form__input" required>
              </div>
              <div class="form__field">
                <label for="message" class="form__label">Сообщение</label>
                <textarea rows="3" type="text" placeholder="Ваше сообщение" id="message" name="message" class="form__input" required></textarea>
              </div>
              <div class="form__field form__checkbox">
                <input class="form__check" id="checkbox" name="checkbox" type="checkbox" required>
                <label class="form__label" for="checkbox">Я согласен с условиями политики конфинденциальности.</label>
              </div>
              <div class="form__controls">
                <div class="g-recaptcha" data-sitekey="6Lc_ei0qAAAAADUhAJTHI_6_pwBitbTt0tap0O6e"></div>
                <button type="submit" class="btn">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-bg">
      <div class="wrapper">
        <div class="footer">
          <div class="footer__address">
            <div class="footer__company">
              <div class="footer__logo">
                <a href="#"><img src="./img/logo-white.png" alt="logo"></a>
              </div>
              <div class="footer__social">
                <!-- <a href="#"><img src="./img/whatsapp.svg" alt="whatsapp"></a>
                <a href="#"><img src="./img/messanger.svg" alt="messanger"></a>
                <a href="#"><img src="./img/YouTube.svg" alt="YouTube"></a> -->
                <a href="#"><img src="./img/email.svg" alt="email"></a>
              </div>
            </div>
            <ul class="footer__contacts">
              <li class="footer__contact">Адрес: <span>Москва, Киевское шоссе 3, стр.1, 117133 Бизнес-парк G10</span></li>
              <li class="footer__contact">Телефон: <span>+7 954 543 54 54</span></li>
              <li class="footer__contact">Email: <span>verycool@email.ru</span></li>
            </ul>
            <div class="footer__credentials">
              <p>© Все права защищены. Made by Andrew Pear</p>
            </div>
          </div>
          <div class="footer__nav">
            <a href="#" class="footer__nav-title">О компании</a>
            <ul class="footer__anchors">
              <li><a href="#" class="footer__anchor">Описание</a></li>
              <li><a href="#" class="footer__anchor">Фото офиса</a></li>
            </ul>
          </div>
          <div class="footer__nav">
            <a href="#" class="footer__nav-title">Вендоры</a>
            <ul class="footer__anchors">
              <li><a href="#" class="footer__anchor">Наши вендоры</a></li>
              <li><a href="#" class="footer__anchor">Авторизованный<br/>партнер</a></li>
            </ul>
          </div>
          <div class="footer__nav">
            <a href="#" class="footer__nav-title">Контакты</a>
            <ul class="footer__anchors">
              <li><a href="#" class="footer__anchor">Карта</a></li>
              <li><a href="#" class="footer__anchor">Адрес</a></li>
              <li><a href="#" class="footer__anchor">График работы</a></li>
            </ul>
          </div>
          <div class="footer__nav">
            <a href="#" class="footer__nav-title">Поддержка</a>
            <ul class="footer__anchors">
              <li><a href="#" class="footer__anchor">FAQ</a></li>
              <li><a href="#" class="footer__anchor">Написать нам</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.getElementById('asking__form').addEventListener('submit', function(event){
        let response = grecaptcha.getResponse();
        if(response.length == 0) {
          // alert('Вы не прошли проверку CAPTCHA должным образом');
          // console.log("Проверка не пройдена");
          // TODO
          // Красивый обработчик не пройденной капчи (отображать ошибку)
          event.preventDefault()
          return false;
        }
      })
    </script>
    <script src="./js/animationObserver.js"></script>
    <script src="js/header.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11.1.9/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>
  </body>
</html>
