<% layout('layouts/main') %>

<section>
    <div class="wrapper">
      <div class="vendors">
        <h2 class="section-title vendors__title">Наши вендоры</h2>
        <div class="vendors__list">
          <div class="swiper swiper__vendors">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
               <% for (vendor of vendors) { %>
              <div class="swiper-slide">
                <div class="our-vendors__company" id="our-vendors">
                  <a href="/vendors/<%= vendor.slug %>">
                    <div class="our-vendors__company-image">
                      <img src="/uploads/vendors/<%= vendor.imageUrl %>" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <% } %>
              <!-- <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="our-vendors__company">
                  <a href="#">
                    <div class="our-vendors__company-image">
                      <img src="./img/suppliers1.png" alt="company-image" />
                    </div>
                    <div class="our-vendors__company-button">
                      <p>Подробнее</p>
                    </div>
                  </a>
                </div>
              </div> -->
            </div>
            <div class="swiper__vendors-scrollbar">
              <div class="swiper__vendors-scrollbar__drag"></div>
            </div>
          </div>
        </div>
        <div class="vendors__description">
          <div class="vendors__text">
            <p>
              Список представлен не исчерпывающим образом. Мы открыты для сотрудничества с новыми вендорами и всегда готовы рассмотреть ваши предложения.
            </p>
          </div>
          <div class="vendors__controls">
            <div class="vendors__controls-back"></div>
            <div class="vendors__controls-next"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
      <div class="wrapper">
          <div class="partner">
              <h2 class="section-title partner__title" id="partner__title">Авторизованный партнер</h2>
              <div class="partner__info">
                  <div class="partner__description">
                      <p class="partner__text">
                        Мы с гордостью заявляем о своем статусе авторизованного партнера компании Гравитон. Это подтверждает наш высокий уровень экспертизы в сфере продуктов и решений Гравитон, а также нашу приверженность предоставлению нашим клиентам наилучшего сервиса и поддержки. Доверьтесь нашему опыту, чтобы получить максимальную отдачу от решений Гравитон.
                      </p>
                      <div class="partner__file">
                          <p class="partner__learn">Ознакомиться с документом</p>
                          <a href="./docs/Сертификат Гравитон ИТ Альянс .pdf" target="_blank" class="partner__download">
                              <div>
                                  <p>Сертификат Гравитон</p>
                                  <p>117 кб</p>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="partner__certificate">
                      <img src="./img/certificate.png" alt="certificate">
                  </div>
              </div>
          </div>
      </div>
  </section>